:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
}

.time-spinner {
  position: absolute;
}
.seconds-spinner {
  position: absolute;
}

.search-timer {
  position: absolute;
  top: 50%;
  line-height: 0.5;
}
