:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.actions-buttons {
  display: flex;
  flex-direction: column;
  button {
    margin: 5px 0;
  }
}

.new-element-info {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .new-element-action {
    margin: 5px;
  }
}
