<app-search-timer
  [timerState]="timerState"
  (timerChanged)="onTimerChanged()"
  (timerIsDone)="onTimerDone()"
></app-search-timer>

<button
  mat-button
  color="warn"
  *ngIf="searchingInProgress; else searchButton"
  (click)="onCancelClick()"
>
  cancel
</button>
<ng-template #searchButton>
  <button mat-raised-button color="accent" (click)="onSearchClick()">
    search
  </button>
</ng-template>

<div class="new-element-info" *ngIf="newElement">
  yay! It is {{ newElement.name }}!

  <button
    mat-raised-button
    class="new-element-action"
    (click)="onAddToInventoryClick()"
  >
    add to inventory!
  </button>
  <button mat-raised-button class="new-element-action" (click)="onDropClick()">
    drop it
  </button>
</div>
